/* .heroDiv,
.heroDiv1,
.heroDiv2,
.heroDiv1Container,
.heroContainer1,
.heroContainer2 {
  border: 1px solid black;
} */

.heroDiv {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  background: #222831;
}
.heroDiv1 {
  margin: auto;
  /* border: 1px solid white; */
}
.heroDiv1Container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 15% 85%;
}
.heroContainer1 {
  margin: 20px auto 0px auto;
  /* border: 2px solid white; */
}
.heroContainer1 img {
  /* border: 1px solid black; */
  background-size: cover;
  margin-top: 20px;
}
.heroContainer2 h1 {
  color: white;
  font-size: 75px;
  font-weight: 700;
  margin: 0px;
}
@media only screen and (max-width: 600px) {
  .heroContainer2 h1 {
    font-size: 60px;
  }
  .heroContainer1 img {
    margin-top: 0px;
    height: 85%;
  }
}
.heroContainer2 :nth-child(2) {
  color: rgba(0, 173, 181, 1);
}
.heroDiv2 {
  width: 100%;
  /* border: 1px solid white; */
  text-align: center;
}
.heroDiv2 img {
  /* border: 2px solid red; */
  width: 80%;
  background-size: cover;
}
.buttons {
  margin: 20px auto;
  /* border: 1px solid black; */
}
.buttons :nth-child(1) {
  background: rgba(0, 173, 181, 1);
}
.buttons :nth-child(2) {
  background: #393e46;
  color: white;
}
.buttons button {
  padding: 0.6rem;
  border-radius: 15px;
  border: none;
  margin-left: 15px;
  color: white;
}
