.nav {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222831;
  height: 70px;
}
.logo {
  /* border: 1px solid white; */
  margin-left: 1rem;
  color: white;
}
.navItems {
  /* border: 1px solid white; */
  color: white;
}
@media only screen and (max-width: 600px) {
  .navItems {
    display: none;
  }
}
.navItems ul {
  display: flex;
  justify-content: space-evenly;
}
.navItems ul li {
  margin: 1rem;
  list-style: none;
  /* border: 1px solid white; */
}
