.imgContainer {
  border: 1px solid white;
  border-radius: 7px;
  width: 300px;
  text-align: center;
  margin: 1rem auto;
  background: rgba(57, 62, 70, 0.7);
}
.imgContainer img {
  margin-top: 20px;
  width: 70%;
  height: 70%;
  background-size: cover;
  border: 1px solid white;
}
